Логистическая регрессия

In [64]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('adult.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [6]:
from sklearn.linear_model import LogisticRegression

In [32]:
# выбираем признаки
selectedColumns = df[ [ 'educational-num', 'gender', 'race', 'income' ] ]

# столбец gender является категориальной переменной
# переведем ее в значения 0 и 1, добавив столбцы с соответствующими названиями
X = pd.get_dummies( selectedColumns, columns = [ 'gender', 'race' ])

# столбец income является целевой переменной, удаляем его из X
del X['income']
X.head()

,educational-num,gender_Female,gender_Male,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,7,0,1,0,0,1,0,0
1,9,0,1,0,0,0,0,1
2,12,0,1,0,0,0,0,1
3,10,0,1,0,0,1,0,0
4,10,1,0,0,0,0,0,1

In [33]:
# целевая переменная (столбец income) снова является категориальной
# переведем значения столбца в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [34]:
le.fit( df['income'] )

LabelEncoder()

In [35]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [36]:
# записываем в переменную y преобразованный столбец income

y = pd.Series( data = le.transform( df['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [37]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


model = make_pipeline(StandardScaler(),LogisticRegression(max_iter=1000))

In [38]:
model = LogisticRegression()

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [60]:
# обучаем модель

model.fit( X_train, y_train )
predictions = model.predict_proba( X_test )

In [61]:
predictions[:5]

array([[0.93484506, 0.06515494],
       [0.87436995, 0.12563005],
       [0.7678688 , 0.2321312 ],
       [0.79169394, 0.20830606],
       [0.7678688 , 0.2321312 ]])

In [62]:
model.score(X_train, y_train)

0.7865395302582702

In [63]:
model.score(X_test, y_test)

0.7907595714188221

SVM метод опорных векторов

In [67]:
from sklearn.svm import SVC


clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='auto', kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [68]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='auto', kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [74]:
predictions = model.predict_proba( X_test )
predictions

array([[0.93484506, 0.06515494],
       [0.87436995, 0.12563005],
       [0.7678688 , 0.2321312 ],
       ...,
       [0.94399273, 0.05600727],
       [0.79169394, 0.20830606],
       [0.96333605, 0.03666395]])

In [69]:
clf.score(X_train, y_train)

0.7862470385211617

In [70]:
clf.score(X_test, y_test)

0.7906230805978298